<template name='App_body'>
	{{#HammerTouchArea gestureMap=templateGestures}}
		<div id="container" class="{{menuOpen}} {{cordova}}">
			<section id="menu">
				<div class="btns-group">
					<a href="{{pathFor 'signin'}}" class="btn-secondary">Sign In</a>
					<a href="{{pathFor 'join'}}" class="btn-secondary">Join</a>
				</div>

				<div class="list-todos">
					<a class="js-new-list link-list-new">
						<span class="icon-plus"></span>
						New List
					</a>
					{{#each list in lists}}
						<a href="#" class="list-todo">
							<span class="count-list">{{list.incompleteCount}}</span>
							{{list.name}}
						</a>
					{{/each}}

				</div>

			</section>

			<div id="content-container">
				{{#momentum plugin="fade"}}
					{{> Template.dynamic template=main}}
				{{/momentum}}
			</div>
		</div>
	{{/HammerTouchArea}}
</template>